.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background: #fff;
  text-align: left;
  margin: 56px auto;
}
.feedback-form-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 8px;
}
.feedback-form-input,
.feedback-form-textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.feedback-form-input:hover,
.feedback-form-textarea:hover {
  border: 1px solid #000000;
}
.feedback-form-button {
  color: white;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border-radius: 8px;
  margin-top: 16px;
}
.feedback-form-button:hover {
  background: #6c8cff;
}
