.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input:hover,
textarea:hover {
  border-color: black;
}
input:active,
textarea:active {
  border-color: #808080;
}
button {
  color: white;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border-radius: 8px;
  margin-top: 16px;
}
button:hover {
  background: #6c8cff;
}
